@{
    ViewData["Title"] = "Anasayfa";
}
<section class="today-post-area pt-50 pb-50">
    <div class="container">
        <div class="section-title-wrap">
            <div class="section-title section-title-four">
                <h2 class="title">Son Haberler</h2>
                <div class="section-title-line"></div>
            </div>
        </div>
        <div class="today-post-wrap">
            <div class="row gutter-40 justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="banner-post-five banner-post-seven">
                        <div class="banner-post-thumb-five">
                            <a href="#"><img src="assets/images/today_post01.jpg" alt=""></a>
                        </div>
                        <div class="banner-post-content-five">
                            <a href="#" class="post-tag-four">Spor</a>
                            <h2 class="post-title"><a href="#">Kick Boksta Dünya Birinciliği</a></h2>
                            <div class="blog-post-meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-user"></i><a href="#">Ece Koçer</a></li>
                                    <li><i class="flaticon-calendar"></i>25 Mart 2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="banner-post-five banner-post-seven">
                        <div class="banner-post-thumb-five">
                            <a href="#"><img src="assets/images/today_post02.jpg" alt=""></a>
                            <a href="#" class="paly-btn popup-video"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="banner-post-content-five">
                            <a href="#" class="post-tag-four">Teknoloji</a>
                            <h2 class="post-title"><a href="#">Iphone Yeni Telefon Modelini Açıkladı</a></h2>
                            <div class="blog-post-meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-user"></i><a href="#">Ece Koçer</a></li>
                                    <li><i class="flaticon-calendar"></i>25 Mart 2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="banner-post-five banner-post-seven">
                        <div class="banner-post-thumb-five">
                            <a href="#"><img src="assets/images/nw_banner_post01.jpg" alt=""></a>
                        </div>
                        <div class="banner-post-content-five">
                            <a href="#" class="post-tag-four">Eğitim</a>
                            <h2 class="post-title"><a href="#">Okullarda bedava bilgisayar dağıtılacağı açıklandı</a></h2>
                            <div class="blog-post-meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-user"></i><a href="#">Ece Koçer</a></li>
                                    <li><i class="flaticon-calendar"></i>25 Mart 2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="banner-post-five banner-post-seven">
                        <div class="banner-post-thumb-five">
                            <a href="#"><img src="assets/images/nw_banner_post01.jpg" alt=""></a>
                        </div>
                        <div class="banner-post-content-five">
                            <a href="#" class="post-tag-four">Eğitim</a>
                            <h2 class="post-title"><a href="#">Okullarda bedava bilgisayar dağıtılacağı açıklandı</a></h2>
                            <div class="blog-post-meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-user"></i><a href="#">Ece Koçer</a></li>
                                    <li><i class="flaticon-calendar"></i>25 Mart 2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="today-post-area pt-50 pb-50" style="background: #F9F9F9;">
    <div class="container">
        <div class="section-title-wrap">
            <div class="section-title section-title-four">
                <h2 class="title">En Çok Okunanlar</h2>
                <div class="section-title-line"></div>
            </div>
        </div>
        <div class="today-post-wrap">
            <div class="row gutter-40 justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="banner-post-five banner-post-seven">
                        <div class="banner-post-thumb-five">
                            <a href="#"><img src="assets/images/today_post01.jpg" alt=""></a>
                        </div>
                        <div class="banner-post-content-five">
                            <a href="#" class="post-tag-four">Spor</a>
                            <h2 class="post-title"><a href="#">Kick Boksta Dünya Birinciliği</a></h2>
                            <div class="blog-post-meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-user"></i><a href="#">Ece Koçer</a></li>
                                    <li><i class="flaticon-calendar"></i>25 Mart 2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="banner-post-five banner-post-seven">
                        <div class="banner-post-thumb-five">
                            <a href="#"><img src="assets/images/today_post02.jpg" alt=""></a>
                            <a href="#" class="paly-btn popup-video"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="banner-post-content-five">
                            <a href="#" class="post-tag-four">Teknoloji</a>
                            <h2 class="post-title"><a href="#">Iphone Yeni Telefon Modelini Açıkladı</a></h2>
                            <div class="blog-post-meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-user"></i><a href="#">Ece Koçer</a></li>
                                    <li><i class="flaticon-calendar"></i>25 Mart 2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="banner-post-five banner-post-seven">
                        <div class="banner-post-thumb-five">
                            <a href="#"><img src="assets/images/nw_banner_post01.jpg" alt=""></a>
                        </div>
                        <div class="banner-post-content-five">
                            <a href="#" class="post-tag-four">Eğitim</a>
                            <h2 class="post-title"><a href="#">Okullarda bedava bilgisayar dağıtılacağı açıklandı</a></h2>
                            <div class="blog-post-meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-user"></i><a href="#">Ece Koçer</a></li>
                                    <li><i class="flaticon-calendar"></i>25 Mart 2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="banner-post-five banner-post-seven">
                        <div class="banner-post-thumb-five">
                            <a href="#"><img src="assets/images/nw_banner_post01.jpg" alt=""></a>
                        </div>
                        <div class="banner-post-content-five">
                            <a href="#" class="post-tag-four">Eğitim</a>
                            <h2 class="post-title"><a href="#">Okullarda bedava bilgisayar dağıtılacağı açıklandı</a></h2>
                            <div class="blog-post-meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-user"></i><a href="#">Ece Koçer</a></li>
                                    <li><i class="flaticon-calendar"></i>25 Mart 2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
